body {
  margin: 0px;
  padding: 0px;
}

header {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: lightsteelblue;
  padding: 20px;
}

.logo {
  float: left;
  font-family: Georgia;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
  color: lightsteelblue;
}

header:after {
  content: ' ';
  display: block;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0);
}

section {
  height: 100vh;
  min-height: 500px;
}

section.throw div{
  position: relative;
  top: 700px;
  left: 700px;
  right: 0px;
}

.throw {
  background-image: url('../images/background-throw.png');
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center center;
}


.pickup {
  background-color: lightyellow;
}

footer {
  height: 200px;
  background-color: lightsteelblue;
  padding: 20px;
  text-align: center;
}