body
  padding: 50px
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #5279A2

a
  color: #A0DBE1

form#bottleform
  input[type=text]
    display: block
    width: 300px
    height: 30px
    font-size: 20px
  input[type=submit]
    display: block
    width: 120px
    height: 50px
    font-size: 12px
    padding: 50px
    
p.bottleText 
  color: #2B90B4
  
p.button
  font-size: 18px
