<header>
    <nav>
        <ul>
            <li><a href="/bottles/throw">Throw a Bottle</a></li>
            <li><a href="/bottles/new/pick">Pick up a Bottle</a></li>
        </ul>
    </nav>
</header>