<header>
    <div class="logo">Bottled Story</div>
    <nav>
        <ul>
            <li><a href="/bottles/throw">Throw a Bottle</a></li>
            <li><a href="/bottles/pickup">Pick up a Bottle</a></li>
        </ul>
    </nav>
</header>