<h1>Newly picked bottle</h1>

{{ message }}

<form method="get" action="/bottles/new/pick"><button type="submit">Next</button></form>
<form method="get" action="/"><button type="submit">Homepage</button></form>
