<section class="throw">
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<div class="homebutton"    
    <form method="get" action="/"><button type="submit">Homepage</button></form>
</div>
<div class="editbutton">    
    <form method="get" action="/"><button type="submit">Edit your message</button></form>
</div>
</section>
<script>

    $('#bottleform').submit(function(event) {
        event.preventDefault();
        $.post('/bottles/throw', $('#bottleform').serialize(), function(data) {
            alert(data);
        });   
    });

</script>